/* Header Styles */
.App-header {
  background: url("/assets/trianglify.svg");
  background-size: cover;
  height: 300px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 60px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

/* Global Styles */
.wrap {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
.type {
  margin-top: 70px;
}
.type-list {
  float: left;
  width: calc(50% - 20px);
  border: 2px solid #FF86A0;
  border-radius: 2px;
  text-align: center;
  min-height: 450px;
  background: #ffecda;
  margin-bottom: 50px;
}
.type-list:first-of-type {
  margin-right: 40px;
}
.type-list-item {
  background:#ffecda;
  text-align: center;
  width: 50%;
  border: 1px solid #FF86A0;
  letter-spacing: 1px;
  margin: 3px auto;
  padding: 0.3rem 1rem;
  border-radius: 2px;
  transition: 0.2s;
  color: #FF004F;
  
}
.type-list-item:hover {
  border: 1px solid#FF004F;
  color: #FF004F;
}
.displayBox > input[type="button"] {
  margin: 0 auto;
  display: block;
  width: 33.33%;
}

/* Slider styling */
input[type=range] {
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #FF004F;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #36332f, 0px 0px 1px #36332f;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #36332f, 0px 0px 1px #36332f;
  border: 1px solid #FF004F;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #36332f, 0px 0px 1px #36332f;
  border: 1px solid #FF004F;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.sliderContainer {
  text-align: center;
}

input[type = "range"] {
  padding: 0;
  margin: 0 10px;
  width: 50%;
  height: 9px;
  min-width: 200px;
  cursor: pointer;
  border: 3px solid #FF86A0;
  border-radius: 2px;
}

/* Colors styling */
.color {
  display: inline-block;
  width: 23px;
  margin: 0 0 4px 4px;
  border-radius: 50%;
  cursor: pointer;
}

.colorList {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 103%;
}

.color:hover {
  transform: scale(1.5);
}

/* ProductDisplay styling */
section.display {
  padding: 25px 0;
}
.product {
  width: calc((100% - 30px) / 3);
  min-width: 280px;
  height: 300px;
  margin: 0 10px 20px 0;
  float: left;
  border: 2px solid #FF86A0;
  border-radius: 2px;
  position: relative;
  text-align: center;
  background: white;
}

.productBtn {
  height: 60px;
  transform: translate(-50%, -100%);
  position: absolute;
  left: 50%;
  top: 0;
}

input[value="generate"] {
  background: #FFECDA;
  border: 1px solid #FF86A0;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
  margin: 100px;
}
input[value="generate"]:active {
  box-shadow: none;
}

.displayImg {
  max-width: 175px;
  max-height: 175px;
  display: block;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #ffecda;
}

h1 {
  font-family: "Parisienne", cursive;
}


/* Personal Gift section */
.personal-gift h2 {
  text-align: center;
}

a.buy-me {
  text-decoration: none;
}.buy-me img {
  margin-top: 15px;
  height: 45px;
}

/* Footer Styles */
footer.App-footer {
  background: #3e4040;
  padding: 25px 0;

}

.App-footer p {
  color:  #ffecda;
  text-align: center;
}