/* Header Styles */
.App-header {
  background: url("/assets/trianglify.svg");
  background-size: cover;
  height: 20vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 60px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

/* Global Styles */
.wrap {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
@media (max-width: 820px) {
  .wrap {
    width: 100%;
  }
}
.type {
  margin-top: 70px;
}
.type-list {
  float: left;
  width: calc(50% - 20px);
  border: 2px solid #FF86A0;
  border-radius: 2px;
  text-align: center;
  min-height: 450px;
  background: #ffecda;
  margin-bottom: 50px;
}
.type-list:first-of-type {
  margin-right: 40px;
}
.type-list-item {
  background:#ffecda;
  text-align: center;
  width: 50%;
  border: 1px solid #FF86A0;
  letter-spacing: 1px;
  margin: 3px auto;
  padding: 0.3rem 1rem;
  border-radius: 2px;
  transition: 0.2s;
  color: #FF004F;
  
}
.type-list-item:hover {
  border: 1px solid#FF004F;
  color: #FF004F;
}

/* Slider styling */
input[type=range] {
  -webkit-appearance: none; 
  width: 100%; 
  background: transparent; 
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #FF004F;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  box-shadow: 1px 1px 1px #36332f, 0px 0px 1px #36332f;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #24221f, 0px 0px 1px #24221f;
  border: 1px solid #FF004F;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #24221f, 0px 0px 1px #24221f;
  border: 1px solid #FF004F;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.sliderContainer {
  text-align: center;
}

input[type = "range"] {
  padding: 0;
  margin: 0 10px;
  width: 50%;
  height: 9px;
  min-width: 200px;
  cursor: pointer;
  border: 3px solid #FF86A0;
  border-radius: 2px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #24221f, 0px 0px 1px #24221f;
  background: #24221f;
  border-radius: 1.3px;
  border: 0.5px solid #FF004F;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #24221f;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #24221f, 0px 0px 1px #24221f;
  background: #24221f;
  border-radius: 1.3px;
  border: 0.5px solid #FF004F;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #24221f;
  border: 0.2px solid #FF004F;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #24221f, 0px 0px 1px #24221f;
}
input[type=range]:focus::-ms-fill-lower {
  background: #24221f;
}
input[type=range]::-ms-fill-upper {
  background: #24221f;
  border: 0.2px solid #FF004F;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #24221f, 0px 0px 1px #24221f;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3E4040;
}

/* Colors styling */
.color {
  display: inline-block;
  width: 23px;
  margin: 0 0 4px 4px;
  border-radius: 50%;
  cursor: pointer;
}

.colorList {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 103%;
}
@media (max-width: 640px) {
  .colorList {
    top: 84%;
  }
}

.color:hover {
  transform: scale(1.5);
}

/* ProductDisplay styling */
section.display {
  padding: 25px 0;
  margin-bottom: 50px;
  position: relative;
}
.displayBox {
  padding-bottom: 145px;
}
.product {
  width: calc((100% - 20px) / 3);
  height: 325px;
  margin: 0 10px 20px 0;
  float: left;
  border: 2px solid #FF86A0;
  border-radius: 2px;
  position: relative;
  text-align: center;
  background: white;
}
@media (max-width: 640px) {
  .product {
    width: 325px;
    float: none;
  }
}
.product:last-of-type {
  margin-right: 0;
}
@media (max-width: 640px) {
  .product:last-of-type {
    margin: 0 auto 10px;
  }
}

.productBtn {
  height: 60px;
  transform: translate(-50%, -100%);
  position: absolute;
  left: 50%;
  top: 0;
}
.generate {
  background: #FFECDA;
  border: 2px solid #FF86A0;
  color: #FF004F;
  letter-spacing: 1px;
  padding: 5px;
  border-radius: 2px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
  margin: 100px;
}
/* input[value="generate"] {
} */
.generate:active {
  box-shadow: none;
}
.product-name {
  min-height: 45px;
  font-weight: bold;
}
.displayImg {
  max-width: 175px;
  max-height: 150px;
  display: block;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #ffecda;
}

h1 {
  font-family: "Parisienne", cursive;
}


/* Personal Gift section */
.personal-gift {
  height: 65vh;
}
@media (max-width: 640px) {
  .personal-gift {
    height: inherit;
  }
}
.personal-gift h2 {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

a.buy-me {
  text-decoration: none;
}.buy-me img {
  margin-top: 15px;
  height: 45px;
}
.buy-me img {
  margin-top: 15px;
  height: 45px;
}

/* Footer Styles */
footer.App-footer {
  background: #3e4040;
  padding: 35px 0;
  height: 15vh;
}

.App-footer p {
  color:  white;
  text-align: center;
}
.App-footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.App-footer a:hover {
  color: #ff86a0;
}