.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrap {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}
.type {
  margin-top: 70px;
  display: flex;
  flex-direction: row wrap;
}
.type-list {
  width: 50%;
  border: 1px solid black;
  text-align: center;
  height: 400px;
}
.type-list-item {
  width: 50%;
  border: 1px solid black;
  margin: 3px auto;
  padding: 0.3rem 1rem;
}


body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Parisienne', cursive;
}